<div class="movie-tree-dialog">
    <div class="movie-tree-dialog__first">
        <img [src]="'https://picsum.photos/200?nocache'+ randomId" alt="nodePhoto" class="movie-tree-dialog__first__photo">
        <div class="movie-tree-dialog__first__props">
            {{data.nodeName}}<br>
            Parent Id: {{data.parentId}}
            Level: {{data.level}}
            <br>
            -----------------------
            <br>
            {{randomQuote?.quote}}
            <br><br>
            {{randomQuote?.author}}
            
        </div>
    </div>
    
    <div class="movie-tree-dialog__last">
        <button class="button" (click)="closeDialog()">Close</button>
    </div>
</div>
