<div class="movie-tree-node">
    <div class="movie-tree-node__group">
        <div class="movie-tree-node__group__node-content">
            <i (click)="toggleExpand()" class="material-icons">arrow_right</i>
            <div class="movie-tree-node__group__node-content__name" (click)="openNodeDetails()">
                {{ data.nodeName }}
            </div>        
            <i class="material-icons">{{ data.icon }}</i>
        </div>
        <ng-container *appShowIfIsNotExample="isExample">

            <button class="movie-tree-node__group__node-actions" (click)="deleteNode()">Delete</button>
        </ng-container>
    </div>
    @if(isExpanded){
        @if(data.node && data.node.length > 0){
            <div class="movie-tree-node__node-children">
                <app-movie-tree-node
                *ngFor="let child of data.node"
                [data]="child"
                [isExample]="isExample"
                (removeNode)="onChildRemove($event)">
                </app-movie-tree-node>
            </div>
            <div class="movie-tree-node__add-node" *appShowIfIsNotExample="isExample">
                <input class="top" placeholder="Add new node..."  [(ngModel)]="newNodeName"/>
                <button (click)="addNode(newNodeName)" width="">Add Node</button>
            </div>
        }
        @else{
            <div class="movie-tree-node__node-children">
                No data
            </div>
            <div class="movie-tree-node__add-node" *appShowIfIsNotExample="isExample">
                <input class="top" placeholder="Add new node..."  [(ngModel)]="newNodeName"/>
                <button (click)="addNode(newNodeName)">Add Node</button>
            </div>
        }
    }
</div>
