.movie-tree-node{
    display: flex;
    padding-left: 2rem;
    flex-direction: column;

    &__node-content{
        display: flex;
        align-items: center;
        gap: 0.4rem;

        .material-icons{
            cursor: pointer;
        }
    }

    &__node-children{
        padding-left: 2rem; 
    } 
}