<div class="movie-tree">
  <input class="movie-tree__top" placeholder="Search movie..."  [(ngModel)]="searchQuery"/>
  <div class="movie-tree__body">
    @for(movie of filterCatalogue; track movie.id) {
      <app-movie-tree-node [data]="movie" (removeNode)="removeNode($event)"></app-movie-tree-node>
    }
  </div>
  <div class="movie-tree__add-node">
    <input class="movie-tree__add-node__top" placeholder="Add new node..."  [(ngModel)]="newNodeName"/>
    <button (click)="addNode(newNodeName)">Add Node</button>
</div>
</div>
