.movie-tree{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__top{
        display: flex;
        flex-direction: column;
        width: 10rem;

        &.input{
            font-size: 10px;
            border-radius: 9px;
            padding: 8px;
            margin-bottom: 16px;
            border: 1px solid var(--app-font-white-grey-color);
        }
    }

    &__body{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__title{
            display: flex;
            align-items: center;
            gap: 0.4rem;

            i{
                cursor: pointer;
            }
        }
        &__body{
            display: flex;
            flex-direction: column;
        }
    }
}