<div class="movie-tree">
  <div class="movie-tree__example">
    <div class="movie-tree__example__title">Example Tree</div>
    <input class="movie-tree__example__top" placeholder="Search movie..."  [(ngModel)]="searchQuery"/>
    <div class="movie-tree__example__body">
      @for(movie of filterCatalogue; track movie.id) {
        <app-movie-tree-node [data]="movie" [isExample]="true" [completeNode]="moviesWithTree" ></app-movie-tree-node>
      }
    </div>
  </div>
  <div class="movie-tree__custom">
    <div class="movie-tree__custom__title">Custom Tree</div>
    <input class="movie-tree__custom__input" placeholder="Search movie..."  [(ngModel)]="searchQuery2"/>
    <div class="movie-tree__custom__body">
      @for(movie of filterCustomCatalogue; track movie.id) {
        <app-movie-tree-node [data]="movie" [isExample]="false" [completeNode]="moviesWithTree2" (removeNode)="removeCustomNode($event)"></app-movie-tree-node>
      }
      <div class="movie-tree__custom__body__add">
        <input class="top" placeholder="Add new node..."  [(ngModel)]="newNodeName2"/>
        @if(newNodeName2.length > 0){
          <button (click)="addNode(newNodeName2, moviesWithTree2)">Add Node</button>
        }
        @else {
            <span style="color: red;">Please, set the name of the field.</span>
        }
      </div>
    </div>
  </div>
</div>
