:root {  
    --app-font-black-color: #202020;
    --app-font-white-pure-color: #ffffff;
    --app-font-semi-white-pure-color: #EEEEEE;
    --app-font-grey-color: #5e5e5e;
    --app-header-font-grey-color: #616161;
    --app-font-white-grey-color: #BDBDBD;
    --app-gold-color: #c4ae7f;
    --app-black-color: #000000;
    --app-green-color: #1da750;
    --app-green-color-dark: #076329;
    --app-orange-color: #f97316;
    --app-red-color: #fe6368;
    --app-blue-color: #1976d2;
    --app-blue-background-color: #83b9eff7;
}