@use "colors/colors.scss";

@font-face {
  font-family: 'Mayonice';
  src: url('/fonts/Mayonice.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
p {
    font-family: 'Inter', sans-serif;
}

/* Global Styles */

* {
    font-family: 'Inter', sans-serif;
    color: var(--app-header-font-grey-color);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    background-color: var(--app-blue-background-color);
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  /* Text */
  
  h1 {
    font-size: 32px;
    font-family: 'Mayonice', sans-serif;
    font-weight: bold;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
  }
  
  p {
    font-size: 18px;
  }
  
  /* Hyperlink */
  
  a {
    cursor: pointer;
    color: var(--app-blue-color);
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  /* Input */
  
  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    border: 1px solid var(--app-font-white-grey-color);
  }
  
  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  
  /* Button */
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--app-blue-color);
    color: var(--app-font-white-pure-color);
    border: none;
    height: 2.2rem;
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  
  /* Fancy Button */
  
  .fancy-button {
    background-color: var(--app-font-white-pure-color);
    color: var(--app-blue-color);
  }
  
  .fancy-button i.material-icons {
    color: var(--app-blue-color);
    padding-right: 4px;
  }
  
  /* Top Bar */
  
  app-top-bar {
    width: 100%;
    height: 68px;
    background-color: var(--app-blue-color);
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  app-top-bar h1 {
    color: var(--app-font-white-pure-color);
    margin: 0;
  }
  
  /* Checkout Cart, Shipping Prices */
  
  .cart-item, .shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: var(--app-font-semi-white-pure-color);
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog-container{
  color: var(--app-blue-background-color);
}
